<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="top.bitqian.springcloud.alibaba.dao.StorageDao">

    <resultMap id="baseMap" type="top.bitqian.springcloud.alibaba.domain.Storage">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="productId" column="productId" jdbcType="BIGINT"/>

        <result property="total" column="total" jdbcType="INTEGER"/>
        <result property="used" column="used" jdbcType="INTEGER"/>
        <result property="residue" column="residue" jdbcType="INTEGER"/>
    </resultMap>

    <!-- @param 代替了参数, 已用库存增加, 剩余库存减少 -->
    <update id="decreaseStorage">

        update t_storage set used = used + #{count}, residue = residue - #{count}
        where product_id = #{productId}

    </update>

</mapper>
